@font-face{
    font-family:'ng';
    src:url('../fonts/NanumBarunGothicUltraLight.eot');
    src:url('../fonts/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumBarunGothicUltraLight.woff') format('woff'),
         url('../fonts/NanumBarunGothicUltraLight.ttf') format('truetype');
    font-weight:100;
    font-style:normal;
}

@font-face{
    font-family:'ng';
    src:url('../fonts/NanumGothic-Light.eot');
    src:url('../fonts/NanumGothic-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumGothic-Light.woff') format('woff'),
         url('../fonts/NanumGothic-Light.ttf') format('truetype');
    font-weight:200;
    font-style:normal;
}

@font-face{
    font-family:'ng';
    src:url('../fonts/NanumGothic-Regular.eot');
    src:url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumGothic-Regular.woff') format('woff'),
         url('../fonts/NanumGothic-Regular.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
}

@font-face {
    font-family: 'ng';
    src: url('../fonts/NanumGothic-Bold.eot');
    src: url('../fonts/NanumGothic-Bold.eot#iefix') format('embedded-opentype'),
        url('../fonts/NanumGothic-Bold.woff') format('woff'),
        url('../fonts/NanumGothic-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style:normal;
}

/* css reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,
dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;  vertical-align:baseline;}
a{text-decoration:none; color:inherit;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1; border:0px; font-family:ng; width:100%; height:100%; position:relative; background-color: #fff; font-weight:200;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc; font-weight:100; font-size:11px;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#ccc;font-weight:100;font-size:11px;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:#ccc;font-weight:100;font-size:11px;
}

/**/

// .fx_right{margin-left: auto;}
.disnone{display:none;}
