div.v_nf_container {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
    font-weight: 200;
    font-family: "Nanum Gothic", sans-serif;
    border: 0 solid #444;
    float: left;
    font-size: 13px;
    color: #666;
}
div.nf_center_layout {
    width: 100%;
    min-height: 100vh;
    /* height: 100%; */
    height: 100vh;
    border: 0px solid #ddd;
    background-color: rgb(34, 34, 34);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.cont_box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div.img_box {
    text-align: center;
    height: 94px;
    display: block;
}

img.nf_logo {
    margin: 30px 0;
}

div.notFound_box {
    width: 550px;
    height: 80px;
    display: block;
    text-align: center;
    color: white;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 20px;
}

div.go_to_home {
    height: 45px;
    display: block;
    text-align: center;
}

div.go_to_home > a {
    font-family: 'ionicons';
    display: inline-block;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: #52c1f8;
}

div.go_to_home > a:hover {
    background-color: #32b3f3;
    color: #444;
}

div.go_to_home > a:before {
    content: "\f30f";
    margin-right: 10px;
}
