._resTable {
    margin-top: 50px;
    border: 1px solid #ccc;
    table-layout: fixed;
}

._resTable thead td {
    padding: 5px 20px;
    font-weight: 300;
    border: 1px solid #ccc;
    text-align: center;
    background-color: rgb(181, 204, 247);
}

._resTable tbody td {
    max-width: 100px;
    padding: 5px 20px;
    border: 1px solid #ccc;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

._resTable tbody tr {
    cursor: pointer;
}

._resTable tbody tr:nth-child(2n) {
    background-color: #eee;
}

._resTable tbody tr:hover {
    background-color: #ddd;
    font-weight: 300;
}

._mapTable {
    margin-top: 50px;
    border: 1px solid #ccc;
    table-layout: fixed;
}

._mapTable thead td {
    padding: 5px 20px;
    font-weight: 300;
    border: 1px solid #ccc;
    text-align: center;
    background-color: rgb(181, 204, 247);
}

._mapTable tbody td {
    padding: 5px 20px;
    border: 1px solid #ccc;
    vertical-align: middle;
}

._mapTable tbody td div.table_cell {
    display: table-cell;
}


.table_cell div {
    display: inline-block;
    height: 40px;
    min-width: 120px;
    width: 138px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_cell div.tc_text {
    display: table-cell;
}


._mapTable tbody .mt_fieldName {
    padding: 0;
}

._mapTable tbody .mt_fieldName div > input {
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
}

.multiField_set:hover {
    background-color: cornflowerblue !important;
    color: white !important;
}

.subquery_set:hover {
    background-color: cornflowerblue !important;
    color: white !important;
}

.mt_mapping div > input[type=checkbox] {
    display: none;
}

.mt_mapping div > input[type=checkbox] + label{
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px;
}

.mt_mapping div > input[type=checkbox]+ label:before {     
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 10px;
    top: -2px;
    bottom: 1px;
    background-color: #ccc;
    border-radius: 2px;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.mt_mapping div > input[type=checkbox]:checked + label:before { 
    content: "\2713";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 18px; 
    font-weight:800; 
    color: #fff;  
    background:#2f87c1;
    text-align: center;  
    line-height: 18px;  

} 

._mapTable tbody tr:nth-child(2n) {
    background-color: #eee;
}