div.inputName {
    display: inline-block;
    width : 100px;
}

div.inputName > p {
    font-family: Arial, serif;
    height: 30px;
    margin: 0;
    font-size: 13px;
    color : #282c34;
}

div.input {
    display: inline-block;
}

div.input > input {
    outline: 0;
    height: 40px;
    border: 0;
    border-bottom: 1.5px solid cornflowerblue;
    width : 300px;
    margin-right : 40px;
    font-size : small;
    box-sizing: border-box;
}

div.input input[type="text"]:disabled {
    background-color: #fff;
    cursor: default;
}