div._tabs {
    height: 30px;
}

button._tabs_item {
    outline: none;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: small;
    background: #bbb;
    border-right: 1px solid white;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    opacity: 0.8;
}

button._tabs_item:hover {
    opacity: 1;
}

button._tabs_item:active {
    opacity: 0.5;
}

button._tabs_item.active {
    background: cornflowerblue;
}