div.v-top {
    background-color: #fff;
    position: fixed;
    width: calc(100% - 0px);
    height: 50px;
    border-bottom: 1px solid darkgray;
    /*box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.1);*/
    z-index: 10;
    /*border-bottom: 1px solid #e7e7e7;*/
}
div.t_left {
    float: left;
    height: 100%;
    position: relative;
}
div.t_right {
    float: right;
    height: 100%;
    vertical-align: sub;
    position: relative;
}
.t_left .logo {
    float: left;
    /* width: 27px;
    border: 0px solid #444; */
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
}
.t_left .title {
    float: left;
    font-weight: 600;
    /*font-weight: bold;*/
    font-size: medium;
    padding-left: 15px;
    color: #666;
    line-height: 50px;
}

div.pro_icon {
    width: 25px;
    height: 25px;
    float: left;
    opacity: 0.8;
    fill: rgb(229,181,31);
}

div.pro_icon > svg{
    vertical-align: middle;
}

.t_right .pro_icon {
    float: left;
    margin: 13px 3px;
    font-size: 25px;
    color: rgb(229,181,31);
}
.t_right .pro_id {
    width: 75px;
    padding-right: 15px;
    height: 50px;
    line-height: 50px;
    float: right;
    font-weight: 400;
    font-size: small;
    /*margin: 11px 20px 0 5px;*/
}
.t_right div.profile {
    padding-bottom: 50px;
}
.pro_view {
    position: absolute;
    display: inline-block;
    width: 100px;
    top: 45px;
    right: 20px;
    z-index: 20;
    cursor: pointer;
}
.pro_view > div {
    margin-top : -1px;
    font-size: 0.8em;
    text-align: center;
    border: 1px solid #ccc;
    padding:10px;
    background-color: white;
    transition: 0.1s all;
}
/*.pro_view > div:hover {*/
/*    background-color: rgb(240, 240, 240);*/
/*}*/

