div.Success {
    color: cornflowerblue;
    font-size: small;
    margin-left: 20px;
}

div.Fail {
    /* color: red; */
    color: #fc7575;;
    font-weight: bold;
    font-size: small;
    margin-left: 20px;
    font-family: "Ionicons";
}

div.Fail > span.message:before {
    content: "\f445";
    color: gold;
    font-size: 13px;
    margin-left: 4px;
    cursor: pointer;
}