/*constant*/
@import '../../resources/styles/constant.scss';

.vc_left{height:100%; width:50px;
  float:left; background-color:#fff;
  box-shadow:0px 3px 5px -2px rgba(0,0,0,0.10);
  box-sizing: border-box;
  border-right:1px solid #ddd;
  transition: 0.2s;
}

.vc_left.collapse {
  width:150px !important;
}

.navi{height:50px; border-bottom:1px solid #eee;
  display:flex;justify-content:flex-start; align-items:center;
  padding-left:5px; font-size:13px; color:#555; transition: 0.2s;}
.active .navi{ background-color: #{$st_color}; color:#{$st_font_color};}
.navi:hover{ background-color: #{$st_fade_color}; color:#{$st_fade_font_color} }
.active .navi:hover{ background-color: #{$st_color}; color:#{$st_font_color} }

/* .navi:last-child{border:0px;} */
.navi .icn{font-family: "Ionicons"; width:30px; display:flex;
  justify-content:center; font-size:15px;}
.navi .icn.connection:before{content: "\f3b1";}
.navi .icn.index:before{content: "\f3c9";}
.navi .icn.search:before{content: "\f2f5";}
.navi .icn.statistics:before{content: "\f2b5";}
.navi .icn.service:before{content: "\f26b";}
.navi .icn.schedule:before{content: "\f12e";}
.navi .icn.setting:before{content: "\f2f7";}

.left_menu { position: absolute; font-size: 22px !important; left: 10px;}

.navi .text{ position: absolute; left: 45px; font-size: 13px; font-weight:300; }

.colItem {
  position: absolute;
  bottom: 0px;
  display: inline-block;
  margin: 0 10px 10px 6px;
  border: 1px solid darkgray;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 12px;
  transition: 0.2s;
  cursor: pointer;
}

.colItem.active {
  display: inline-block;
  width: 136px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}